/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset CSS*/


body {
    background-color: azure;
}
.menu {
    background-color: rgb(0, 88, 160);
    padding: 30px;
    padding-right: 60px;
    word-spacing: 30px;
    text-align: right;
}

.menu01, .menu02, .menu03 {
    color: white;
    text-decoration: none;
    word-spacing: 100px;
}

.menu01:hover, .menu02:hover, .menu03:hover {
    color: #1a195a;
}

.menu ul{   
    list-style: none;
}

.menu ul li{
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.display {
    display: block;
}

#id00 {
    display: flex;
}

.img01 {
    width: 450px;
}

.display p{
    padding: 10px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #535353;
    text-align: justify;
}


.footer {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 25%;
    background-color: #6495ed;
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    
}

.endereco iframe{
    width: 180px;
    height: 80px;
    border: none;
    
}

.rede-social {
    align-items: center;
    border: 4px;
    border-color: #000000;
}

.rede-social ul{
    display: flex;
}

.rede-social01 {
    width: 25px;
    margin: 10px;
}

.footer02 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: small;
    font-weight: normal ;
    text-align: center;
    align-content: center;
}

#idRedeSocial {
    display: inline;
}